# Username format generated automatically:
#   GEONODE_USER-type-GEONODE_TYPE[-country-GEONODE_COUNTRY]-session-<session_id>-lifetime-<minutes>
# Gateway to host mapping:
#   fr -> proxy.geonode.io
#   fr_whitelist -> prod-proxy.geonode.io
#   us -> us.proxy.geonode.io
#   sg -> sg.proxy.geonode.io

GEONODE_USER=
GEONODE_PASS=
GEONODE_GATEWAY=fr
GEONODE_TYPE=residential
GEONODE_COUNTRY=
GEONODE_LIFETIME=10
