# GeoNode proxy config used by robot package (optional)
# Username format generated automatically:
#   GEONODE_USER-type-GEONODE_TYPE[-country-GEONODE_COUNTRY]
# Example final username:
#   geonode_XXXXXXXXXX-type-mix-country-pe

GEONODE_USER=
GEONODE_PASS=
GEONODE_HOST=proxy.geonode.io
GEONODE_PORT=9000
GEONODE_TYPE=residential
GEONODE_COUNTRY=
